@media screen and (min-width:  340px ){
   .work {
      padding: 20px 0px 20px;
   }
    
   .experience {
   }
   .firm {
   }
   .firm__heading {
      font-size: 28px;
      line-height: 1;
      font-weight: 400;
      color: $blue;
      text-decoration: underline;
      padding-bottom: 18px;
   }
   .company {
   }
   .company__list {
      font-size: 14px;
      line-height: 1;
      font-weight: 400;
      color: #1A1A1A;
      padding-bottom: 10px;
   }
   .company__link {
      font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: #3485f3;
    text-decoration: underline;
   }
   .rabota {

      padding-top:20px ;
   }
   .rabota__heading {
      font-size: 28px;
      line-height: 1;
      font-weight: 400;
      color: $blue;
      text-decoration: underline;
      padding-bottom: 18px;
   }
   .projects {
   }
   .projects__list {
      font-size: 14px;
    line-height: 1;
    font-weight: 400;
    color: #1A1A1A;
    padding-bottom: 10px;
   }
   .projects__link {
      font-size: 18px;
      line-height: 1;
      font-weight: 400;
      color: #3485f3;
      text-decoration: underline;
   }


}
@media screen and (min-width:  640px ){
   .work {
      padding: 20px 0px 20px;
   }
   
   .experience {
   }
   .firm {
   }
   .firm__heading {
      font-size: 32px;
      line-height: 1;
      font-weight: 400;
      color: $blue;
      text-decoration: underline;
      padding-bottom: 18px;
   }
   .company {
   }
   .company__list {
      font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #1A1A1A;
    padding-bottom: 20px;
   }
   .company__link {
      font-size: 22px;
      line-height: 1;
      font-weight: 400;
      color: #3485f3;
      text-decoration: underline;
   }
   .rabota {
      padding-top:30px ;
   }
   .rabota__heading {
      font-size: 32px;
      line-height: 1;
      font-weight: 400;
      color: $blue;
      text-decoration: underline;
      padding-bottom: 18px;
   }
   .projects {
   }
   .projects__list {
      font-size: 20px;
      line-height: 1;
      font-weight: 400;
      color: #1A1A1A;
      padding-bottom: 20px;
   }
   .projects__link {
      font-size: 22px;
      line-height: 1;
      font-weight: 400;
      color: #3485f3;
      text-decoration: underline;
   }


}