.container {
  padding: 0px 10px;
  width: 320px;
  margin: 0 auto;
 

}
@media screen and (min-width:  340px ) {
  .container {
    min-width: 340px;
    margin: 0 auto;
     font-family: 'Montserrat', sans-serif;
   
  }
}

@media screen and (min-width: 620px) {
  .container {
    min-width: 640px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
  
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-width: 1200px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;

  }
}