 $black:#1A1A1A;
 $white: #FFFFFF;
 $grey: #565656;
 $blue: rgba(52, 133, 243, 1);
 $red:rgba(242, 64, 48, 1);
 $green:rgba(32, 169, 45, 1);
 $bcFooter:#cbc7c7;
 $color-text:#000000;
 $bc_header:rgba(60, 60, 60, 1);